.main {
  border: 5px solid black;
  width: 305px;
  height: 305px;
  border-radius: 5%;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#map {
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}